
<div class="app-container">
  <div *ngIf="selectedBiome=='plains'" style="
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('assets/4.gif');
      background-size: cover;
      background-position: center;
      opacity: 0.1; /* make it faint so UI is visible */ 
      z-index: 90;
    ">
    </div> 
  <div *ngIf="selectedBiome=='jungle'" style="
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('assets/a.gif');
      background-size: cover;
      background-position: center;
      opacity: 0.1; /* make it faint so UI is visible */  
      z-index: 90;
    ">
    </div>
    <div *ngIf="selectedBiome=='forest'" style="
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('assets/1.gif');
      background-size: cover;
      background-position: center;
      opacity: 0.1; /* make it faint so UI is visible */  
      z-index: 90;
    ">
    </div>
    <div *ngIf="selectedBiome=='swamp'" style="
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('assets/9.gif');
      background-size: cover;
      background-position: center;
      opacity: 0.1; /* make it faint so UI is visible */  
      z-index: 90;
    ">
    </div>
    <div *ngIf="selectedBiome=='mountains'" style="
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('assets/7.gif');
      background-size: cover;
      background-position: center;
      opacity: 0.1; /* make it faint so UI is visible */  
      z-index: 90;
    ">
    </div>
     <div *ngIf="attacke1" style="
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('assets/flash-effect.gif');
      background-size: cover;
      background-position: center; 
      z-index: 101;
    ">
    </div> 
    <div *ngIf="attacke2" style="
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('assets/flash-effect2.gif');
      background-size: cover;
      background-position: center; 
      z-index: 101;
    ">
    </div> 
    <div *ngIf="attacke3" style="
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('assets/flash-effect3.gif');
      background-size: cover;
      background-position: center; 
      z-index: 101;
    ">
    </div> 
    <div *ngIf="attacke4" style="
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('assets/flash-effect4.gif');
      background-size: cover;
      background-position: center; 
      z-index: 101;
    ">
    </div> 

    <div class="pre-boss-fight-screen" *ngIf="isPreBossFightScreen"style="z-index: 100;">
      <div class="pre-boss-fight-content"style="text-align: center;">
        <h2 style="color: #ff4500;">A Powerful Foe Appears!</h2>
        <div class="pre-fight-images" style="text-align: center;">
          <div class="boss-image">
            <img [src]="preFightEnemy?.image" [alt]="preFightEnemy?.name" style="width: 200px;"> <h3>{{ preFightEnemy?.name }}</h3>
          </div>
          <p style="font-size: 1em; margin: 20px;">VS</p>
          <div class="guardian-image"style="text-align: center;">
            <img [src]="getGuardianImage(guardian!)" [alt]="guardian?.name" style="width: 200px;">
<h3>{{ getGuardianTitle(guardian!) }}</h3>
          </div>
        </div>
        <button (click)="startBossFight()">⚔️Fight⚔️</button>
      </div>
    </div>


    <div style="z-index: 100;" *ngIf="!finalBossDefeated && !isPreBossFightScreen">
      <div class="guardian-selection" *ngIf="!playerGuardianAssigned">
          <div class="guardian-selection">
            <h3 class="guardian-title">🛡️ Select Your Guardian ⚔️</h3>
            <div class="guardian-grid">
              <div class="guardian-card" *ngFor="let guardian of guardians;let i = index">
                <img [src]="guardian.image" [alt]="guardian.name" class="guardian-img">
                <h3>{{ getGuardianTitle(guardian) }}  </h3>
                <p class="guardian-path">{{ guardian.path }}</p>
                <button class="select-btn" (click)="selectGuardian(guardian, i)">Select</button>
              </div>
            </div>
          </div>
      </div>

      <div *ngIf="playerGuardianAssigned">
        <header> 
          <span>🗡️ The Last Guardian 🛡️</span>
        </header>
        <button class="fullscreen-btn" (click)="toggleFullscreen()">
          <span *ngIf="!isFullscreen">🗖</span>
          <span *ngIf="isFullscreen">🗕</span>
        </button>

        <main>
          <div class="biome-selection">
            <label for="biome">🌿 Select Biome: </label>
            <select id="biome" [(ngModel)]="selectedBiome">
              <option *ngFor="let biome of biomes" [value]="biome">{{ biome | titlecase }}</option>
            </select>
          </div>

          <div class="battle-tables" *ngIf="currentEnemy && guardian">
            <table class="side-table">
              <caption>🛡️ Your Guardian</caption>
              <tr>
                <td colspan="2" class="entity-img" style="text-align: center;">
                  <img 
                    [src]="guardian.imageUrl" 
                    [alt]="guardian.name" 
                    class="guardian-gif"
                    [ngClass]="{
                      'glow-strong': getEvolutionLevel(guardian) === 1,
                      'glow-celestial': getEvolutionLevel(guardian) === 2,
                      'glow-legendary': getEvolutionLevel(guardian) === 3,
                      'glow-demigod': getEvolutionLevel(guardian) === 4
                    }"
                    style="height:70px"
                  >
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  {{ getGuardianTitle(guardian) }} 
                </td>
              </tr>
              <tr><td>❤️ HP:</td><td>{{guardian.hp | number:'1.0-2'}}</td></tr>
              <tr><td>⚔️ STR:</td><td>{{guardian.str | number:'1.0-2'}}</td></tr>
              <tr><td>🛡️ DEF:</td><td>{{guardian.def | number:'1.0-2'}}</td></tr>
              <tr><td>💨 SPD:</td><td>{{guardian.spd | number:'1.0-2'}}</td></tr>
              <tr><td>🔥 Attack</td><td>{{calculateDamage(guardian, currentEnemy)}}</td></tr>
              <tr><td>💨 Dodge</td><td>{{calculateDodgeChance(currentEnemy, guardian)}}%</td></tr>
              <tr><td>🏃 Escape</td><td>{{calculateDodgeChance(guardian, currentEnemy)}}%</td></tr>
            </table>

            <table class="side-table">
              <caption>👹 Enemy</caption>
              <tr><td colspan="2" class="entity-img" style="text-align: center !important;"><img [src]="currentEnemy.imageUrl"  [ngClass]="{
                      'glow-strong2': getEvolutionLevel(guardian) === 2,
                      'glow-celestial2': getEvolutionLevel(guardian) === 3, 
                      'glow-demigod2': getEvolutionLevel(guardian) === 4
                    }" class="enemy-gif" style="height:68px"/></td></tr>
              <tr> <td colspan="2"><span *ngIf="getEvolutionLevel(guardian) === 2">Currupted </span>
                                    <span *ngIf="getEvolutionLevel(guardian) === 3">Dark </span>
                                    <span *ngIf="getEvolutionLevel(guardian) === 4">Demon </span>  {{currentEnemy.name}}</td></tr>
              <tr><td>❤️ HP:</td><td>{{currentEnemy.hp| number:'1.0-2'}}</td></tr>
              <tr><td>⚔️ STR:</td><td>{{currentEnemy.str| number:'1.0-2'}}</td></tr>
              <tr><td>🛡️ DEF:</td><td>{{currentEnemy.def| number:'1.0-2'}}</td></tr>
              <tr><td>💨 SPD:</td><td>{{currentEnemy.spd| number:'1.0-2'}}</td></tr>
              <tr><td>🔥 Attack</td><td>{{calculateDamage(currentEnemy, guardian)}}</td></tr>
              <tr><td>💨 Dodge</td><td>{{calculateDodgeChance(guardian, currentEnemy)}}%</td></tr>
            </table>
          </div>

          <div class="stats-panel" *ngIf="!currentEnemy && guardian">
            <h3>🛡️ Guardian Stats</h3>
            <table>
              <tr>
                <td colspan="2" class="entity-img" style="text-align: center;">
                  <img 
                    [src]="guardian.imageUrl" 
                    [alt]="guardian.name" 
                    class="guardian-gif"
                    [ngClass]="{
                      'glow-strong': getEvolutionLevel(guardian) === 1,
                      'glow-celestial': getEvolutionLevel(guardian) === 2,
                      'glow-legendary': getEvolutionLevel(guardian) === 3,
                      'glow-demigod': getEvolutionLevel(guardian) === 4
                    }"
                    style="height:70px"
                  >
                  <span class="glow-heal" style="color: rgb(255, 0, 0);font-weight: bold;" *ngIf="guardianRegenMessage">+</span>
                </td>
              </tr>
              <tr *ngIf="guardian">
                <td colspan="2">
                  {{ getGuardianTitle(guardian) }}  
                </td>
              </tr>
              <tr><td>❤️ HP:</td><td>{{guardian.hp | number:'1.0-2'}}/{{guardianMaxHp}}</td></tr>
              <tr><td>⚔️ STR:</td><td>{{guardian.str | number:'1.0-2'}}</td></tr>
              <tr><td>🛡️ DEF:</td><td>{{guardian.def | number:'1.0-2'}}</td></tr>
              <tr><td>💨 SPD:</td><td>{{guardian.spd | number:'1.0-2'}}</td></tr>
              <tr *ngIf="getNextEvolution(guardian) as next">
                <td colspan="2" class="evolution-info"> 
                  <p>
                    🌟 Next Evolution: <strong>{{ next.title }}</strong> at 
                    <span class="hp-highlight">{{ next.hp }} HP</span>
                  </p>
                  <p>
                    🎁 Bonus: 
                    <span *ngIf="next.bonus?.str">⚔️ +{{ next.bonus.str }} STR </span>
                    <span *ngIf="next.bonus?.def">🛡️ +{{ next.bonus.def }} DEF </span>
                    <span *ngIf="next.bonus?.spd">💨 +{{ next.bonus.spd }} SPD </span>
                  </p>
                </td>
              </tr>
              <div class="popup" *ngIf="showEvolutionPopup">
                <div class="popup-content">
                  <div style="text-align: center;">
                    <h2 style="color: #ffd700;">Congratulations!</h2>
                    <h3>Your Guardian has evolved into <br/>{{ evolutionTitle }}!</h3>
                    <img [src]="evolutionImageSrc"
                        class="guardian-gif"
                        style="width: 150px; height: 150px; margin: 20px 0;"
                        [ngClass]="
                          getEvolutionLevel(guardian) === 1 ? 'glow-strong' :
                          getEvolutionLevel(guardian) === 2 ? 'glow-celestial' :
                          getEvolutionLevel(guardian) === 3 ? 'glow-legendary' :
                          getEvolutionLevel(guardian) === 4 ? 'glow-demigod' : ''">
                    <br>
                    <p *ngIf="getEvolutionLevel(guardian) === 3 " style="color:red" class="glow-heal">ALL ANIMALS ARE EFFECTED <br> BY DARK FORCE ! </p>
                    <button (click)="closeEvolutionPopup()">OK</button>
                  </div>
                </div>
              </div>
              <tr *ngIf="!getNextEvolution(guardian)">
                <td colspan="2" class="evolution-info">🌟 Max Evolution Achieved!</td>
              </tr>
            </table>
            <div class="skills-panel" *ngIf="skillPoints > 0" style="margin-top:8px;">
              <h4>✨ Skill Points: {{ skillPoints }}</h4>
              <button (click)="spendSkillPoint('str')">⚔️ + STR</button>
              <button (click)="spendSkillPoint('def')">🛡️ + DEF</button>
              <button (click)="spendSkillPoint('spd')">💨 + SPD</button>
            </div>
            <div *ngIf="guardian.hp >= 300 && bossesDefeated < totalBossesToWin">
              <p>⚠️ Boss Fights Available! Defeat {{ totalBossesToWin - bossesDefeated }} more bosses to win!</p>
            </div>
          </div>
 
            <div *ngIf="guardianRegenMessage" class="regen-container">
              <p>{{ guardianRegenMessage }}</p>
              <div class="progress-bar">
                <div class="progress-fill" [style.width.%]="regenProgress"></div>
              </div>
            </div>
          <div class="messages" #messagesContainer>
            <p *ngFor="let msg of messages">💬 {{msg}}</p>
          </div>
        </main>

        <div class="population-btn" style="text-align:center; margin:1vh 0;">
          <button (click)="showPopulation = true">🌿Animal Watch🐾</button>
        </div>
        <div class="popup" *ngIf="showPopulation" style="z-index: 102;">
          <div class="popup-content">
            <button (click)="showPopulation = false" style="margin-left: 77%;">❌ Close</button> 
           <app-world-view [enemies]="enemies" [animals]="animals"></app-world-view> 
            <button (click)="showPopulation = false"style="margin-left: 77%;">❌ Close</button>
          </div>
        </div>
      </div>

      <div class="popup" *ngIf="showGuardianSlainPopup">
        <div class="popup-content">
          <h2>💀 Your Guardian was defeated!</h2> 
          <img src="assets/d.gif"   style="width:100%"><br>
          <button (click)="selectNewGuardian()" style="margin-left: 25% !important;">🛡️ Rewind Time </button>
        </div>
      </div>

      <div class="action-panel" *ngIf="playerGuardianAssigned && !finalBossDefeated && !isPreBossFightScreen&& !showPopulation">
        <ng-container *ngIf="guardian">
          <div class="battle-actions" style="margin-bottom: 10px;">
            <button 
              *ngIf="guardian && !currentEnemy && !finalBossAvailable && bossesDefeated < totalBossesToWin && guardian.hp >= 300"
              (click)="searchBoss()"
            >
              👹 Fight a Boss
            </button>
            <button *ngIf="guardian && !currentEnemy && !finalBossAvailable" (click)="searchEnemy()">Search For Enemy</button>
            <button *ngIf="currentEnemy" (click)="attackEnemy()">Attack</button>
            
            <button *ngIf="guardian && !currentEnemy && finalBossAvailable" (click)="searchFinalBoss()">Face Final Boss!</button>
            
            <button *ngIf="currentEnemy" (click)="escape()">Escape</button>
            <button *ngIf="currentEnemy" (click)="autoAttackEnemy()" [disabled]="!currentEnemy">⚔️ Auto ⚔️</button> 
            
          </div>
        </ng-container>
      </div> 
    </div>

    <div class="game-won-screen" *ngIf="finalBossDefeated"style="z-index: 100;" >
      <img src="assets/bg-won.png" alt="A victorious hero stands over a defeated boss." style="width: 100%; height: auto; display: block; filter:brightness(0.5)">
      <div class="game-won-content">
        <h1>🎉 Congratulations!</h1>
        <h2>The World Devourer has been vanquished!</h2>
        <p>Your Guardian, the  has fulfilled its destiny and saved the world from eternal darkness.</p>
        <button (click)="resetGame()">Start a New Journey</button>
      </div>
    </div>
</div>